/* .aboutHero {
    background: rgb(181,212,59);
    background: linear-gradient(180deg, rgba(181,212,59,1) 0%, rgba(28,28,28,1) 100%);
} */

.underlineGreen {
    position: relative;
    margin-left: 1.4rem;
}

.underlineGreen::after {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    height: 100%;
    width: 2px;
    background: #b5d43b;
}

.underlineWhite {
    position: relative;
    margin-left: 1.4rem;
}

.underlineWhite::after {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    height: 100%;
    width: 2px;
    background: #ebe8d7;
}

.underlineOrange {
    position: relative;
    margin-left: 1.4rem;
}

.underlineOrange::after {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    height: 100%;
    width: 2px;
    background: rgb(255, 187, 1);
}
