input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f7f7f7b4;
    opacity: 1; /* Firefox */
}
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f7f7f7b4;
    opacity: 1; /* Firefox */
}
.inputField:focus-within{
    border-color: #CCFF02;
    border-bottom-width: 100%;
}
#contactPage footer{
    position: relative;
    top: 30vh !important;
}
a:hover{
    color: #f7f7f7;
}

@media screen and (max-width: 460px) {
    #contactPage footer{
        position: relative;
        top: 90vh !important;
    }
    
  }