@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./Fonts/GeneralSans/css/general-sans.css');
@import url('./Fonts/Chillax/css/chillax.css');
@import url('https://fonts.cdnfonts.com/css/aquatico');

*::selection {
  background: #CCFF02;
}

/* *{
  cursor: none !important;
} */

html {
  overflow-x: hidden  !important;
  font-family: kayak-regular;
  background: #171717;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url('./Images/bg.png.webp');
  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width: 460px) {
  html{
    background-image: none;
  }
}


@font-face {
  font-family: kayak-regular;
  src: url('./Fonts/Kayak/Kayak\ Sans\ Regular.otf');
}

@font-face {
  font-family: kayak-bold;
  src: url('./Fonts/Kayak/Kayak\ Sans\ Bold.otf');
}

@font-face {
  font-family: kayak-light;
  src: url('./Fonts/Kayak/Kayak\ Sans\ Light.otf');
}

@font-face {
  font-family: thunder-black;
  src: url('./Fonts/Thunder-BlackLC.ttf');
}

@font-face {
  font-family: thunder-semibold;
  src: url('./Fonts/Thunder-SemiBoldLC.ttf');
}

.thunderBlack {
  font-family: thunder-black;
}

.thunderSemibold {
  font-family: thunder-semibold;
}


.kayak-light {
  font-family: kayak-light;
}

.kayak-bold {
  font-family: kayak-bold;
}

.hBtn {
  font-family: 'Chillax-Variable';
}


* {
  -webkit-tap-highlight-color: transparent;
}